<html>
<head>
<script src="https://d3js.org/d3.v4.min.js"></script>

<style>
svg{
  background-color: #eee;
}
input{
  display: inline-block;
}
</style>
</head>

<body>

<h1>Hello!</h1>
<p>select exp</p>
<p>select chr or all chr</p>
<p>scale slider</p>

<div id='plots'>
</div>
<script>
'use strict';
function updateBinSize(name, value, id){
  document.getElementById(id).innerHTML = value;

  var svg = svgs[name];
  setBinSize(svg, value);
}

//setting
var width = window.innerWidth - 50;
var height = 100;
var margin = 20;

//scaleX,Y, colorscale
var sx, sy, sc;
var mainPlot;
var exps = {};
var svgs = {};


function createSvg(name, chr, binSize){
  var div = d3.select('div#plots')
  .append('div')
  .attr('id', name);

  var title = div.append('h4')
  .text(chr);

  var sBinSize = div.append('input')
  .attr('type', 'range')
  .attr('min', 5)
  .attr('max', 20000)
  .attr('step', 5)

  var spanBinSize = div.append('span')
  .attr('id', 'binsize_'+ name);

  //<input id='sBinSize' type='range' min=5 max=20000 step=5 
  //       onchange=""/>
  //<span id="binSize"></span>

  var svg = d3.select('div#plots')
  .append('svg')
  .attr('id', name)
  .attr('width', width)
  .attr('height',height);

  sBinSize
  .attr('onchange', 'updateBinSize("' + name + '", this.value, "binsize_'+name+'")');

  svg.chr = chr;
  svg.binSize = binSize;
  svg.eids = [];
  //scaleX,Y
  svg.sx = d3.scaleLinear().range([margin, width-margin]);
  svg.sy = d3.scaleLinear().range([height-margin, margin]);

  svg.ax = d3.axisBottom(sx);
  svg.ay = d3.axisLeft(sy).ticks(2);

  svg.isScaleDomainSet = false;
  //colorscale
  svg.sc = d3.scaleOrdinal(d3.schemeCategory20);

  //use current properties (sx, sy, binsize, etc) to redraw
  svg.redraw = function(){
    svg.selectAll('path.histogram').remove();
    var eids = svg.eids.slice();
    svg.eids = [];
    for(var i=0; i<eids.length; i++){
      load(eids[i], svg);
    }
  }
  svgs[name] = svg;
  return svg;

}


function Line(data){
  var x = data['binEdges'];
  //let d be the y value of a histogram
  return d3.line()
    .curve(d3.curveLinear)
    //.curve(d3.curveBundle)
    .x(function(d,i){return sx( (x[i]+x[i+1])/2) })
    .y(function(d){return sy(d)});
}


function drawPath(svg, data){
  if(svg.pathCount === undefined){
    svg.pathCount = 1;
  }else{
    svg.pathCount++;
  }
  var x = data['binEdges'];
  var y = data['hist'];
  
  if(!svg.isScaleDomainSet){
    svg.sx.domain(d3.extent(x));
    svg.sy.domain(d3.extent(y));
    
    svg.ax.scale(svg.sx);
    svg.ay.scale(svg.sy);

    svg.append("g")
    .attr('transform', 'translate(0, '+ (height-margin) + ')')
    .call(svg.ax);

    svg.append("g")
    .attr('transform', 'translate(' + margin + ',0)')
    .call(svg.ay);

    svg.isScaleDomainSet = true;

  }

  var line = d3.line()
            .curve(d3.curveLinear)
            //.curve(d3.curveBundle)
            .x(function(d,i){return svg.sx( (x[i]+x[i+1])/2) })
            .y(function(d){return svg.sy(d)});

  var path = svg.append('path')
            .datum(y)
            .attr('class', 'histogram')
            .attr('fill', 'none')
            .attr('stroke', svg.sc(svg.eids.length))
            .attr('stroke-width', 3)
            .attr('d', line);



  return path;
}


function load(eid, svg, name=''){
  if(exps[eid]){

    var cdfs = exps[eid]['cdfs'];
    var cdf = cdfs[svg.chr];
    var stop = cdf[cdf.length-1][0];
    var h = histogram(cdf, 0, stop, svg.binSize);
    drawPath(svg, h);
    svg.eids.push(eid);


  }else{
    console.log(eid);
    d3.json('/exp/' + eid + '.json', function(err, res){
      var cdfs = res;
      
      exps[eid] = {
          'name': name,
          'cdfs': cdfs,
      };

      //plot some chromosome
      //var c = Object.keys(cdfs)[Math.floor(Math.random()*10)];
      var cdf = cdfs[svg.chr];
      var stop = cdf[cdf.length-1][0];
      var h = histogram(cdf, 0, stop, svg.binSize);
      drawPath(svg, h);
      svg.eids.push(eid);


    });
  }
}

function histogram(cdf, start, stop, binSize){
  
  //define cdf function through from data
  function f(x){
    var res;
    if(x < cdf[0][0]){
      res = 0;
    }else if(x > cdf[cdf.length-1][0]){
      res = cdf[cdf.length-1][1];
    }else{
      //linear search
      for(var i=0; i<cdf.length-1; i++){
        if(cdf[i][0] <= x && cdf[i+1][0] > x){
          res = cdf[i][1];
          break;
        }
      }
      //TODO binary search
    }
    return res;
  }

  var binEdges = d3.range(start, stop+2*binSize, binSize);
  var hist = [];
  for(var i=0; i<binEdges.length-1; i++){
    var start_i = binEdges[i];
    var stop_i = binEdges[i+1];
    var count = f(stop_i) - f(start_i);
    hist.push(count);
  }

  return {
    'binEdges': binEdges,
    'hist': hist
  };

}


function setBinSize(svg, binSize){
  svg.binSize = binSize;
  svg.redraw();

}

function setDomain(svg, dx, dy){
  svg.sx.domain(dx);
  if(dy !== undefined){
    svg.sy.domain(dy);
  }
  svg.redraw();
}

function main(){
  var svg = createSvg('firstPlot', 'Pf3D7_01_v3', 10000);
  //load data and draw
  load(10838, svg);
  load(10813, svg);
  load(10841, svg);

  /*
  var svg2 = createSvg('main', 'Pf3D7_02_v3', 1000);
  load(10838, svg2);
  load(10813, svg2);
  load(10841, svg2);
  */

}

main();


</script>
</body>
</html>
